.nav{
    padding-right: 250px;
}
.ym{
    width: 100%;
}
.yu{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}
.rt{
    padding-left: 120px;
}
.ui{
    padding-left: 300px;
}
.cr{
    width: 100%;
}
.mmmm{
    color: white;
    background-color: #6D1830;
    border: none;
    border-radius: 4px;
    width: 150px;
    padding: 14px 20px 14px 20px;
    font-size: smaller;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .nav{
        padding-right: 250px;
    }
    .ym{
        width: 500px;
    }
    .yu{
        display: block;
        justify-content: space-evenly;
        padding-top: 50px;
        padding-bottom: 50px;
        /* padding-left: 50px; */
    }
    .ht{
        width: 400px;
    }
    .rt{
        width: 500px;
        padding-left: 80px;
    }
    .ui{
        padding-left: 100px;
        width: 450px;
    }
    .cr{
        width: 500px;
    }
    .mmmm{
        color: white;
        background-color: #6D1830;
        border: none;
        border-radius: 4px;
        width: 100px;
        padding: 14px 5px 14px 4px;
        font-size: 12px;
        font-weight: bold;
    }
}